<?xml version="1.0"?>
<GalleryData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Entries>
    <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
      <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="GalleryEntries">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Guid" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" />
                  <xs:element name="Title" type="xs:string" minOccurs="0" />
                  <xs:element name="Filename" type="xs:string" minOccurs="0" />
                  <xs:element name="Comment" type="xs:string" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
        <xs:unique name="Constraint1" msdata:PrimaryKey="true">
          <xs:selector xpath=".//GalleryEntries" />
          <xs:field xpath="Guid" />
        </xs:unique>
      </xs:element>
    </xs:schema>
    <diffgr:diffgram xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1">
      <NewDataSet>
        <GalleryEntries diffgr:id="GalleryEntries1" msdata:rowOrder="0">
          <Guid>0b0ab4e1-1972-4cbb-b77f-44237e01c7bb</Guid>
          <Title />
          <Filename>t11.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries2" msdata:rowOrder="1">
          <Guid>16a9c823-4bec-4308-b538-a1f10a4542b3</Guid>
          <Title />
          <Filename>t22.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries3" msdata:rowOrder="2">
          <Guid>247f17f9-f74c-47ac-9a0a-b01bf4afabb1</Guid>
          <Title />
          <Filename>t33.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries4" msdata:rowOrder="3">
          <Guid>016c4ebe-b054-4c12-ad58-2504996a910b</Guid>
          <Title />
          <Filename>t44.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries5" msdata:rowOrder="4">
          <Guid>86b4241d-a84f-43a7-b8a1-afa0caaa427d</Guid>
          <Title />
          <Filename>t55.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries6" msdata:rowOrder="5">
          <Guid>3202a676-5d50-4cde-aab9-bf79c135df67</Guid>
          <Title />
          <Filename>t77.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries7" msdata:rowOrder="6">
          <Guid>b8970200-0ca3-47f0-8137-2970899d913e</Guid>
          <Title />
          <Filename>t88.jpg</Filename>
          <Comment />
        </GalleryEntries>
        <GalleryEntries diffgr:id="GalleryEntries8" msdata:rowOrder="7">
          <Guid>8c77a5b9-5549-4a62-9226-55dafacd37ec</Guid>
          <Title />
          <Filename>t555.jpg</Filename>
          <Comment />
        </GalleryEntries>
      </NewDataSet>
    </diffgr:diffgram>
  </Entries>
</GalleryData>