<?xml version="1.0" encoding="utf-8"?>
<HitDataExt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Settings>
    <ViewSpacer>true</ViewSpacer>
    <ViewVisitorCount>true</ViewVisitorCount>
    <ViewHitCount>true</ViewHitCount>
    <ViewLastVisit>true</ViewLastVisit>
    <ViewIP>true</ViewIP>
    <ViewAgent>true</ViewAgent>
  </Settings>
  <HitCount>13</HitCount>
  <LastVisit>2013-04-27T11:24:33.4949928+04:30</LastVisit>
  <VisitorData>
    <item>
      <key>
        <string>::1</string>
      </key>
      <value>
        <VisitorDataItem>
          <LastVisit>2013-04-27T11:24:33.4949928+04:30</LastVisit>
          <Agent>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:20.0) Gecko/20100101 Firefox/20.0</Agent>
        </VisitorDataItem>
      </value>
    </item>
  </VisitorData>
  <CurrentVisitorItem>
    <LastVisit>2013-04-27T11:24:19.4281882+04:30</LastVisit>
    <Agent>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:20.0) Gecko/20100101 Firefox/20.0</Agent>
  </CurrentVisitorItem>
  <CurrentVisitorIP>::1</CurrentVisitorIP>
</HitDataExt>