<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:MainDataTable="UserTable" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="UserTable">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PKID" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" minOccurs="0" />
                <xs:element name="Username" type="xs:string" minOccurs="0" />
                <xs:element name="ApplicationName" type="xs:string" minOccurs="0" />
                <xs:element name="Email" type="xs:string" minOccurs="0" />
                <xs:element name="Comment" type="xs:string" minOccurs="0" />
                <xs:element name="Salt" type="xs:string" minOccurs="0" />
                <xs:element name="Password" type="xs:string" minOccurs="0" />
                <xs:element name="IsApproved" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastActivityDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastLoginDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="LastPasswordChangedDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="CreationDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="IsOnLine" type="xs:boolean" minOccurs="0" />
                <xs:element name="IsLockedOut" type="xs:boolean" minOccurs="0" />
                <xs:element name="LastLockedOutDate" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptCount" type="xs:int" minOccurs="0" />
                <xs:element name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <UserTable>
    <PKID>18acf323-329b-431f-b886-6e3b6a3bbdb6</PKID>
    <Username>admin</Username>
    <ApplicationName>/DarvazehMelal</ApplicationName>
    <Email>you@your-domain.xyz</Email>
    <Comment />
    <Salt>dWnEYbBP</Salt>
    <Password>CxLH9JdpndvciysOhHi6R1xtgzM=</Password>
    <IsApproved>true</IsApproved>
    <LastActivityDate>2015-05-29T16:14:47.0021674+04:30</LastActivityDate>
    <LastLoginDate>2015-05-29T16:14:47.0021674+04:30</LastLoginDate>
    <LastPasswordChangedDate>2013-01-09T12:33:25.0974496+03:30</LastPasswordChangedDate>
    <CreationDate>2013-01-09T12:33:25.0974496+03:30</CreationDate>
    <IsOnLine>false</IsOnLine>
    <IsLockedOut>false</IsLockedOut>
    <LastLockedOutDate>0001-01-01T00:00:00+03:30</LastLockedOutDate>
    <FailedPasswordAttemptCount>0</FailedPasswordAttemptCount>
    <FailedPasswordAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAttemptWindowStart>
    <FailedPasswordAnswerAttemptCount>0</FailedPasswordAnswerAttemptCount>
    <FailedPasswordAnswerAttemptWindowStart>0001-01-01T00:00:00+03:30</FailedPasswordAnswerAttemptWindowStart>
  </UserTable>
</NewDataSet>