<?xml version="1.0"?>
<WebSiteData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HomepageId>e0fd2e9f-fb2d-4c45-9c20-7d2a9260b2bf</HomepageId>
  <Theme>DarvazehMelal</Theme>
  <Language>fa-IR</Language>
  <SmtpServer />
  <SmtpUser />
  <SmtpPassword />
  <SmtpDomain />
  <FooterText />
  <WebSiteTitle>گروه مهندسین و مشاورین املاک دروازه ملل</WebSiteTitle>
  <Keywords />
  <Description />
  <EnableSectionRss>true</EnableSectionRss>
  <MailSenderAddress />
  <EnableIE8CompatibilityMetatag>false</EnableIE8CompatibilityMetatag>
  <AllowUserSelfRegistration>true</AllowUserSelfRegistration>
  <EnableVersionChecking>true</EnableVersionChecking>
</WebSiteData>