<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/request.aspx</VirtualPath>
  <NavigationName>تقاضای ملک</NavigationName>
  <Title>تقاضای ملک</Title>
  <Description>تقاضای ملک</Description>
  <Keywords>تقاضای ملک</Keywords>
  <Sections />
</WebPageData>