<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/privacypolicy.aspx</VirtualPath>
  <NavigationName>سیاست حفظ اسرار</NavigationName>
  <Title>سیاست حفظ اسرار</Title>
  <Description>سیاست حفظ اسرار</Description>
  <Keywords>سیاست حفظ اسرار</Keywords>
  <Sections />
</WebPageData>