<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/faq.aspx</VirtualPath>
  <NavigationName>پرسش های متداول</NavigationName>
  <Title>پرسش های متداول</Title>
  <Description>پرسش های متداول</Description>
  <Keywords>پرسش های متداول</Keywords>
  <Sections />
</WebPageData>