<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/media.aspx</VirtualPath>
  <NavigationName>سمعی و بصری</NavigationName>
  <Title>سمعی و بصری</Title>
  <Description>سمعی و بصری</Description>
  <Keywords>سمعی و بصری</Keywords>
  <Sections />
</WebPageData>