<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/projects.aspx</VirtualPath>
  <NavigationName>طرح های ما</NavigationName>
  <Title>طرح های ما</Title>
  <Description>طرح های ما</Description>
  <Keywords>طرح های ما</Keywords>
  <Sections />
</WebPageData>