<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/request/requestlist.aspx</VirtualPath>
  <NavigationName>فهرست تقاضاهای ملکی</NavigationName>
  <Title>فهرست تقاضاهای ملکی</Title>
  <Description>فهرست تقاضاهای ملکی</Description>
  <Keywords>فهرست تقاضاهای ملکی</Keywords>
  <Sections />
</WebPageData>