<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/gallery.aspx</VirtualPath>
  <NavigationName>گالری تصاویر</NavigationName>
  <Title>گالری تصاویر</Title>
  <Description>گالری تصاویر</Description>
  <Keywords>گالری تصاویر</Keywords>
  <Sections>
    <string>1e69022b-a4be-4dd4-be10-335b11ec8080</string>
  </Sections>
</WebPageData>