<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/download.aspx</VirtualPath>
  <NavigationName>دریافت فایل</NavigationName>
  <Title>دریافت فایل</Title>
  <Description>دریافت فایل</Description>
  <Keywords>دریافت فایل</Keywords>
  <Sections>
    <string>64b1fd0b-a2c6-46da-88cd-4cd7c1c116bd</string>
  </Sections>
</WebPageData>