<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/jobs.aspx</VirtualPath>
  <NavigationName>فرصت های شغلی</NavigationName>
  <Title>فرصت های شغلی</Title>
  <Description>فرصت های شغلی</Description>
  <Keywords>فرصت های شغلی</Keywords>
  <Sections />
</WebPageData>