<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/register/registerlist.aspx</VirtualPath>
  <NavigationName>فهرست املاک ثبت شده</NavigationName>
  <Title>فهرست املاک ثبت شده</Title>
  <Description>فهرست املاک ثبت شده</Description>
  <Keywords>فهرست املاک ثبت شده</Keywords>
  <Sections />
</WebPageData>