<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/association.aspx</VirtualPath>
  <NavigationName>مشارکت در ساخت</NavigationName>
  <Title>مشارکت در ساخت</Title>
  <Description>مشارکت در ساخت</Description>
  <Keywords>مشارکت در ساخت</Keywords>
  <Sections />
</WebPageData>