<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/feedback.aspx</VirtualPath>
  <NavigationName>ارائه بازخوردها</NavigationName>
  <Title>ارائه بازخوردها</Title>
  <Description>ارائه بازخوردها</Description>
  <Keywords>ارائه بازخوردها</Keywords>
  <Sections>
    <string>6e020455-651d-4043-8ec2-8e760fa16f27</string>
  </Sections>
</WebPageData>