<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/register/register.aspx</VirtualPath>
  <NavigationName>فرم سپردن ملک</NavigationName>
  <Title>فرم سپردن ملک</Title>
  <Description>فرم سپردن ملک</Description>
  <Keywords>فرم سپردن ملک</Keywords>
  <Sections />
</WebPageData>