<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/contact.aspx</VirtualPath>
  <NavigationName>تماس با ما</NavigationName>
  <Title>تماس با ما</Title>
  <Description>تماس با ما</Description>
  <Keywords>تماس با ما</Keywords>
  <Sections>
    <string>1a1b3a12-e1e5-4aa1-bc25-95b5792780cc</string>
  </Sections>
</WebPageData>