<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/home.aspx</VirtualPath>
  <NavigationName>صفحه اصلی</NavigationName>
  <Title>صفحه اصلی</Title>
  <Description>صفحه اصلی</Description>
  <Keywords>صفحه اصلی</Keywords>
  <Sections>
    <string>2fa89a10-529f-49bf-93fd-e31a7503f0ab</string>
    <string>f3c11fe6-c5d3-4f4e-9e26-df7911579b68</string>
    <string>bab1f5b6-58c5-4ef2-ab35-945993773c6d</string>
  </Sections>
</WebPageData>