<?xml version="1.0"?>
<WebPageData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Visible>true</Visible>
  <AllowAnonymousAccess>true</AllowAnonymousAccess>
  <EditPowerUser>false</EditPowerUser>
  <VirtualPath>~/services.aspx</VirtualPath>
  <NavigationName>خدمات ما</NavigationName>
  <Title>خدمات ما</Title>
  <Description>خدمات ما</Description>
  <Keywords>خدمات ما</Keywords>
  <Sections />
</WebPageData>