/* pager */
table.pager 
{
    background-color: #FEF5CC;
    border: solid 1px #4E1714;
}

table.pager td 
{
    padding: 3px;
    vertical-align: middle;
}
/* end pager */

/* buttons */
a.btnRight 
{
    background-color:Black;
    display: block;
    width: 6px;
    height: 12px;
    background-image: url(_images/icon_next.gif);
    background-position: center;
    background-repeat: no-repeat;
}

a.btnLeft 
{
    background-color:Black;
    display: block;
    width: 6px;
    height: 12px;
    background-image: url(_images/icon_back.gif);
    background-position: center;
    background-repeat: no-repeat;
}

a.btnUp
{
    background-color:Black;
    display: block;
    width: 12px;
    height: 6px;
    background-image: url(_images/icon_up.gif);
    background-position: center;
    background-repeat: no-repeat;
}

a.btnDown
{
    background-color:Black;
    display: block;
    width: 12px;
    height: 6px;
    background-image: url(_images/icon_down.gif);
    background-position: center;
    background-repeat: no-repeat;
}

a.btnEdit
{
    background-color:Black;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(_images/icon_edit.gif);
    background-position: center;
    background-repeat: no-repeat;
}

a.btnDelete
{
    background-color:Black;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(_images/icon_delete.gif);
    background-position: center;
    background-repeat: no-repeat;
}
/* end buttons*/