<?xml version="1.0"?>
<LinkListData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Entries>
    <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
      <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="LinkListEntries">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Guid" msdata:DataType="System.Guid, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" type="xs:string" />
                  <xs:element name="Title" type="xs:string" minOccurs="0" />
                  <xs:element name="Url" type="xs:string" minOccurs="0" />
                  <xs:element name="Target" type="xs:string" minOccurs="0" />
                  <xs:element name="Comment" type="xs:string" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
        <xs:unique name="Constraint1" msdata:PrimaryKey="true">
          <xs:selector xpath=".//LinkListEntries" />
          <xs:field xpath="Guid" />
        </xs:unique>
      </xs:element>
    </xs:schema>
    <diffgr:diffgram xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:diffgr="urn:schemas-microsoft-com:xml-diffgram-v1">
      <NewDataSet>
        <LinkListEntries diffgr:id="LinkListEntries1" msdata:rowOrder="0">
          <Guid>15af2c35-3f86-46a2-9e17-e7b06a28f828</Guid>
          <Title>پیوندهای آزمایشی</Title>
          <Url>http://www.google.com</Url>
          <Target>_blank</Target>
          <Comment>پیوندهای آزمایشی</Comment>
        </LinkListEntries>
      </NewDataSet>
    </diffgr:diffgram>
  </Entries>
</LinkListData>